.subscribe-banner{
  height: 323px;
  width: 100%;

  padding: 71px;

  background: url('./../../img/subscribe-bg.jpg') center center/cover no-repeat;

  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  h2{
    color: #fff;
    max-width: 357px;
  }

  .send-form{
    display: flex;
    gap: 0 6px;

    input{
      padding: 28px 23px 31px;

      width: 349px;
      height: 80px;

      border-radius: 16px;
    }
    input, input::placeholder{
      font-family: 'Roboto', sans-serif;
      font-style: italic;
      font-weight: 400;
      font-size: 18px;
    }
  }

}